.roomCards-container {
  position: relative;
}
.roomCards-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.roomCards-container h2 {
  color: #dddddc;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

.roomCards-container > div .card-content {
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.1);
}
.roomCards-container > div .card-content:first-child {
  position: absolute;
  translate: -1rem -.4rem;
}
.roomCards-container > div .card-content:last-child {
  position: absolute;
  translate: 1rem .4rem;
}

