/* 
#18122B
#393053
#443C68
#635985
#EEEEEE 
*/

.modalContainer {
  background: rgba(0, 0, 0, 0.623);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 999;
  text-shadow: none;
}

.modalContainer > div {
  background: #3a2e5f;
  border: 2px solid #635985;
  border-radius: .5rem;
  max-width: 25rem;
  padding: 2rem 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.modalContainer > div > h1 {
  color: #EEEEEE;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-shadow: 2px 3px #18122B;
}
.modalContainer > div > p {
  color: #a1a1a1;
  text-shadow: 1px 2px #18122B;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.modalContainer > div > span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .6rem;
}

.modalContainer > div > span p {
  padding: .6rem 2rem;
  width: 100%;
  color: #18122B;
  background-color: #0ca747;
  border: 2px solid #165028;
  font-weight: bold;
  cursor: pointer;
  text-shadow: none;
  transition: ease .3s;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modalContainer > div > span p:hover {
  scale: 1.05;
}

.modalContainer > div > span p:active {
  scale: 1;
}

.modalContainer > div > span p:last-child {
  background: #fc4a1a;
  border: 2px solid #aa0909;
}

.modalContainer > div > span p:last-child:hover {
  background: #f05d34;
}

.modalContainer > div > span p:hover {
  background-color: #20c760;
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}