.loading-container {
    background: rgba(0, 0, 0, 0.7);
    height: 5rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 9999;
}

.loading-container svg {
    height: 6rem;
    width: 6rem;
    animation: spin .7s linear infinite ;
    color: #eee;
}

@keyframes spin {
    from {rotate: 0;}
    to {rotate: 360deg;}
}