/* 
#18122B
#393053
#443C68
#635985
#EEEEEE 
*/
.roomContainer {
  text-shadow: 1px 2px #18122B;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.gameContainer {
  height: 100%;
  display: grid;
  grid-template: 
    "oponent oponent oponent" 2fr 
    "UserCards UserCards UserCards" 3fr
  ;
}

.oponentCard-container {
  grid-area: oponent;
}

.cards-container {
  grid-area: UserCards;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.players-list {
  position: absolute;
  right: 1rem;
  top: 40%;
  translate: 0 -50%;
  text-align: center;
  background: #374259bb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid #a5aed2;
  border-radius: .4rem;
  color: #c9cfe6;
  z-index: 99;
}

.players-list h2 {
  font-weight: normal;
}

.players-list ul {
  list-style: none;
}

.players-list li {
  color: #a5aed2;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: .4rem 0rem;
}

.players-list li:first-child .username {
  
}

.players-list li .username {
  position: relative;
  margin-right: 3rem;
}

.players-list li:first-child .username::after {
  content: "👑";
  font-size: 1.2rem;
  cursor: pointer;
}

.players-list li .username.AlredPlayed::before {
  content: "✔️";
  position: absolute;
  right: -1.5rem;
  font-size: 1rem;
}

.players-list li:has(.you) {
  color: #ec5e94;
}

.room-code {
  transition: ease .3s;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 1px 2px #393053;
  font-size: 1rem;
  background: #18122B;
  padding-bottom: .1rem;
  border-radius: 2rem;
}

.room-code span {
  text-transform: initial;
  padding-left: .5rem;
  color: #eeeeee;
  text-shadow: 1px 2px #18122B;
  font-weight: bold;
  font-size: 1.2rem;
}

.room-code:hover {
  opacity: 1;
}

.winnerContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.winnerContainer span {
  font-size: 1rem;
}