* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  background: radial-gradient(#af2e2e 40%, #611515);
  background: radial-gradient(#256c7e 40%, #143d47);
  background: radial-gradient(#775454 40%, #593737);
  background: radial-gradient(#545B77 40%, #374259);
  background: radial-gradient(#f7b733 40%, #fc4a1a);
  background: radial-gradient(#e1eec3 40%, #f05154);
  background: radial-gradient(#C6426E 40%, #642B73);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

